<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
        .box {
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    
    <div id="app">
        <p v-if="isAvenger">{{ name }} - {{ power }} - {{ weapon }} - {{ age }}</p>

        <button @click="toggleAvenger">
            <span v-if="!isAvenger">Show Avenger</span>
            <span v-else>Hide Avenger</span>
        </button>

        <p v-show="isAvenger">{{ name }} - {{ power }} - {{ weapon }} - {{ age }}</p>

        <!-- Mouse Events -->

        <div class="box" @mouseover="handleEvent($event, 5)">Mouse Over</div>
        <div class="box" @mouseleave="handleEvent">Mouse Leave</div>
        <div class="box" @dblclick="handleEvent">Double Click</div>
        <div class="box" @mousemove="handleMouseMove">position - {{ x }} {{ y }}</div>

    </div>

    <script src="app.js"></script>
</body>
</html>